name: Lint
on:
  push:
    branches:
      - '*'
    branches-ignore:
      - 'gh-pages'
    paths-ignore:
      - '*.{md,txt}'
      - LICENSE
      - .*config
    tags-ignore:
      - '*'
  pull_request:
    branches:
      - '*'
    paths-ignore:
      - '*.{md,txt}'
      - LICENSE
      - .*config

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn

      - name: Install dependencies
        run: yarn install --immutable

      - name: Lint
        run: yarn lint
